<header>
    <div class="container">
    	<div class="row">
    	 <div class="navbar navbar_ clearfix">
            <div class="top-menu">
                <div class="container">
                    <div class="nav-collapse nav-collapse_ collapse">
                        <ul class="nav sf-menu top-menu-text">  
                          <li><a href="#">เข้าสู่ระบบ</a></li>
                          <li><a href="#">ติดต่อเรา</a></li>
                          <li><a href="#">styles</a></li>
                          <li><a href="index-5.html">contacts</a></li>
                        </ul>
                        <ul class="social-icons">
	                        <li><a href="#"><img src="img/icon-1.png" alt=""></a></li>
	                        <li><a href="#"><img src="img/icon-2.png" alt=""></a></li>
	                        <li><a href="#"><img src="img/icon-3.png" alt=""></a></li>
	                        <li><a href="#"><img src="img/icon-4.png" alt=""></a></li>
                        </ul>
                    </div>                                                           
                </div>
            </div>
        	<div class="span12">
            	<div class="header-block clearfix">
                    <div class="clearfix header-block-pad">
                        <h1 class="brand"><a href="index.html"><img src="img/SBlogo.png" alt=""></a></h1>
                        <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form" >
                            <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''"  >
                            <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                        </form>
                        <!--<span class="contacts">Call Us Toll Free:  <span>+1 234 567 89 90</span><br>E-mail: <a href="#">company@demolink.org</a></span>-->
                    </div>                    
                    <div class="navbar navbar_ clearfix">
                        <div class="navbar-inner navbar-inner_">
                            <div class="container">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse_">MENU</a>                                                   
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu">
                                      <li class="li-first"><a href="index.html"><em class="hidden-phone"></em><span class="visible-phone">Home</span></a></li>
                                      <li class="active"><a href="index-2.html">หน้าหลัก</a></li>
                                      <li class="sub-menu"><a href="index-1.html">เกี่ยวกับ</a>
                                        <ul>
                                          <li><a href="#">ประวัติ</a></li>
                                          <li><a href="#">ที่ตั้ง</a></li>
                                          <li><a href="#">โครงสร้างองค์กร</a></li>
	                                      <li class="sub-menu"><a href="#">น่วยงานในสังกัด</a>
	                                        <ul>
	                                          <li><a href="#">บก.อก.บช.ส</a></li>
	                                          <li><a href="#">บก.ส.1</a></li>
	                                          <li><a href="#">บก.ส.2</a></li>
	                                          <li><a href="#">บก.ส.3</a></li>
	                                          <li><a href="#">บก.ส.4</a></li>
	                                          <li><a href="#">ศูนย์พัฒนาด้านการข่าว</a></li>
	                                        </ul>
	                                      </li>
                                        </ul>
                                      </li> 
                                       <li class="sub-menu"><a href="index-1.html">ผู้บริหาร</a>
                                        <ul>
	                                      <li class="sub-menu"><a href="#">อดีตผู้บริหาร</a>
	                                        <ul>
	                                          <li><a href="#">อดีต ผบช.ส</a></li>
	                                        </ul>
	                                      </li>
	                                      <li class="sub-menu"><a href="#">ผู้บริหารปัจจุบัน</a>
	                                        <ul>
  		                                        <li><a href="#">ผบช.ส-รอง ผบช.ส</a></li>
		                                        <li><a href="#">ผบก.อก</a></li>
		                                        <li><a href="#">ผบก.ประจำฯ</a></li>
		                                        <li><a href="#">ผบก.ส. 1-4</a></li>
		                                        <li><a href="#">รอง ผบก.ศพข.</a></li>
		                                        <li><a href="#">รอง ผบก.กชข.</a></li>
	                                        </ul>
	                                      </li>
                                        </ul>
                                      </li> 
                                      
                                      <li style="padding-left: 0px !important; padding-right: 5px !important;">
	                                    <a style ="color:#E2D9D9" href="#">ผู้บริหาร</a>
	                                    <ul class="sub-menu">
	                                    	<li>
	                                        	<a href="#">อดีตผู้บริหาร</a>
	                                        	<ul class="sub-menu">
			                                        <li><a href="#">อดีต ผบช.ส</a></li>
	                                        	</ul>
	                                        </li>
	                                        <li>
	                                        	<a href="#">ผู้บริหารปัจจุบัน</a>
	                                        	<ul class="sub-menu">
			                                        <li><a href="#">ผบช.ส-รอง ผบช.ส</a></li>
			                                        <li><a href="#">ผบก.อก</a></li>
			                                        <li><a href="#">ผบก.ประจำฯ</a></li>
			                                        <li><a href="#">ผบก.ส. 1-4</a></li>
			                                        <li><a href="#">รอง ผบก.ศพข.</a></li>
			                                        <li><a href="#">รอง ผบก.กชข.</a></li>
	                                        	</ul>
	                                        </li>
	                                    </ul>
	                                </li>
                                         
                                      <li><a href="index-2.html">services</a></li>
                                      <li><a href="index-3.html">collections</a></li>
                                      <li><a href="index-4.html">styles</a></li>
                                      <li><a href="index-5.html">contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                     </div>   
                </div>
            </div>
       </div>     
    </div>
</header>